.product {
  background: #efefef;
  padding: 1rem;
  box-shadow: 0px 10px 10px -3 rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.2s ease-in,
    transform 0.2s ease-in;
}

.product:hover {
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.productImage {
  max-width: 100%;
  height: 300px;
  object-fit: contain;
  aspect-ratio: 4/3;
  mix-blend-mode: darken;
}

.title,
.price {
  font-family: sans-serif;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.price {
  font-weight: 700;
}

.addToCartbtn {
  background-color: #333;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in;
}

.addToCartbtn:hover {
  background-color: #555;
}
